---
// src/pages/index.astro
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import ServiceCardInteractions from '../components/ServiceCardInteractions.astro';
import HeroSection from '../components/HeroSection.astro';
import ProductsSection from '../components/ProductsSection.astro';
import AboutUsSection from '../components/AboutUsSection.astro';
import ServicesSection from '../components/ServicesSection.astro';
// Importamos los nuevos componentes de tarjetas de servicio:
import ConfeccionesEmpresarialesCard from '../components/services/ConfeccionesEmpresarialesCard.astro'
import ServicioDeCorteCard from '../components/services/ServicioDeCorteCard.astro';
import EsteticaYBellezaCard from '../components/services/EsteticaYBellezaCard.astro';
import ConfeccionDeMaquilaCard from '../components/services/ConfeccionDeMaquilaCard.astro';
import DotacionesEmpresariales from '../components/DotacionesEmpresariales.astro';
import ElementosDeProteccion from '../components/ElementosDeProteccion.astro';
import EsteticaYBelleza from '../components/EsteticaYBelleza.astro';
import MapaUbicacion from '../components/MapaUbicacion.astro';

---

<Layout>
    <main >
        <HeroSection />
        <ServicesSection>
            {/* Usamos los nuevos componentes de tarjetas de servicio: */}
            <ConfeccionesEmpresarialesCard />
            <ServicioDeCorteCard />
            <EsteticaYBellezaCard />
            <ConfeccionDeMaquilaCard />
        </ServicesSection>
        <ProductsSection />
        <EsteticaYBelleza />
        <DotacionesEmpresariales />
        <ElementosDeProteccion />
        <AboutUsSection />
        <ServiceCardInteractions />
        <MapaUbicacion />
      
    </main>
</Layout>