---
// src/components/AboutUsSection.astro
---

<section class="py-16 bg-gray-100 rounded-2xl">
    <div class="container mx-auto px-6 text-center">
        <h2 class="text-4xl font-extrabold text-gray-900 mb-12 drop-shadow-lg">
            Sobre Nosotros
        </h2>
        <div class="md:flex md:items-center md:justify-center gap-12 ">
            <div class="md:w-1/2">
                <img src="/images/sobre-nosotros.jpg" alt="Equipo Mundial Quirúrgicos" 
                     class="rounded-2xl shadow-xl hover:scale-105 transition-transform duration-300" />
            </div>
            <div class="md:w-1/2 text-left my-12">
                <p class="text-gray-700 text-lg mb-6 leading-relaxed">
                    En <span class="font-semibold text-blue-700">Mundial Quirúrgicos</span>, fabricamos y comercializamos productos hospitalarios y estéticos de consumo masivo, ofreciendo calidad y precios competitivos. Nuestro enfoque integral abarca desde el desarrollo textil hasta la entrega, asegurando excelencia y puntualidad para clientes nacionales e internacionales.
                </p>
                <p class="text-gray-700 text-lg mb-6 leading-relaxed">
                    Elaboramos productos hospitalarios e institucionales de alta calidad, innovadores y adaptados a las necesidades de nuestros clientes. Ofrecemos un servicio de excelencia, fomentamos la capacitación de nuestro equipo y optimizamos procesos para garantizar crecimiento y rentabilidad.
                </p>
                <p class="text-gray-700 text-lg leading-relaxed">
                    Nos proyectamos como un socio estratégico para diversas industrias y un excelente lugar para trabajar, destacando por <span class="font-semibold text-blue-700">innovación, calidad y servicio</span> en la fabricación y comercialización de dotación hospitalaria, estética e industrial.
                </p>
            </div>
        </div>
    </div>
</section>
