---
// src/components/MapaUbicacion.astro
---
<div class="map-container rounded-2xl shadow-3xl overflow-hidden hover:scale-105 transition-transform duration-300">
    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d248.55073420859287!2d-74.15421373507202!3d4.6276506244622055!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1739677640157!5m2!1ses!2sco" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
            width="600"
            height="450"
            style="border:0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
  
  <style>
    .map-container {
      width: 100%; /* Ajusta el ancho según necesites */
      height: auto; /* La altura se ajustará automáticamente */
    }
  
    iframe {
      width: 100%;
      height: 450px; /* Puedes ajustar la altura fija si lo deseas */
    }
  </style>