---
// src/components/ServicesSection.astro
---
<section id="services" class="py-12 bg-gradient-to-br from-blue-400 to-violet-700">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold text-gray-800 text-center mb-8">Nuestros Servicios</h2>
        <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-6">
            <slot />
        </div>
    </div>
</section>

