---
// src/components/service-details/ConfeccionDeMaquilaDetail.astro
---
<h4 class="text-3xl font-bold text-white mb-2">Confección de Maquila de Prendas Hospitalarias: Tu Socio para la Producción Eficiente</h4>
<p class="text-white">Externaliza la producción de tus prendas hospitalarias con un socio confiable y experimentado. Ofrecemos un servicio de confección de maquila integral, desde el corte de tela hasta el empaquetado final, permitiéndote enfocarte en tu negocio principal. Nuestra experiencia en la fabricación de prendas hospitalarias, combinada con nuestra capacidad de producción y control de calidad, nos convierte en la extensión ideal de tu cadena de suministro. Reduce costos, optimiza tiempos de entrega y asegura la calidad de tus productos con nuestro servicio de maquila especializado en el sector salud.</p>
<p class="text-white">¿Buscas un socio para externalizar tu producción de prendas hospitalarias? ¡Contáctanos para explorar las ventajas de nuestro servicio de maquila!</p>