---
// src/components/service-details/EsteticaYBellezaDetail.astro
---
<h4 class="text-3xl font-bold text-white mb-2 m-5 text-center">Kits de Prendas Quirúrgicas Desechables para Spas y Centros de Estética: Higiene y Seguridad Garantizada</h4>
<p class="text-white m-5 ">Eleva los estándares de higiene y seguridad en tu spa o centro de belleza con nuestros kits de prendas quirúrgicas desechables. Diseñados para procedimientos estéticos que requieren un ambiente controlado, nuestros kits ofrecen una barrera protectora confiable para tus clientes y profesionales. Incluyen todo lo necesario: batas, gorros, tapabocas y más, en materiales suaves y confortables. Brinda tranquilidad y profesionalismo en cada servicio con nuestros kits quirúrgicos de un solo uso.</p>
<p class="text-white m-5 "> ¿Priorizas la higiene y seguridad en tu spa? ¡Solicita una muestra de nuestros kits quirúrgicos y ofrece un servicio impecable!</p>