---
// src/components/service-details/ServicioDeCorteDetail.astro
---
<h4 class="text-3xl font-bold text-white mb-2 text-center">Corte de Tela de Precisión para Prendas Hospitalarias</h4>
<p class="text-white m-5">Ofrecemos un servicio de corte de tela especializado para la industria hospitalaria. Utilizamos tecnología de corte de última generación y personal altamente capacitado para garantizar la máxima precisión y calidad en cada pieza. Optimizamos el uso de la tela, minimizando desperdicios y asegurando cortes limpios y exactos para la confección eficiente de prendas hospitalarias de todo tipo: uniformes médicos, batas de paciente, ropa de cama y más. Nos enfocamos en cumplir con los estándares más exigentes de la industria médica.</p>
<p class="text-white m-5"> ¿Buscas cortes de tela impecables para tus prendas hospitalarias? ¡Solicita una cotización y comprueba nuestra precisión!</p>